*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.text-center{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 4px;
}

.main-box{
    /* border: 2px solid green; */
    width: 211px;
    height: 400px;
    padding: 2px;
    background-color: whitesmoke;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.protect {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.empty{
    margin-top: 240px;
}

.list-group{
  
  padding: 10px;
  overflow-y: scroll;
  flex-grow: 1;
   max-height: 270px;

}

.spacing{
    margin-top: 15px;
}

.item-name{
    margin-top: 3px;
    font-weight: bold;
}


.item-quantity{
    font-size: 0.8rem;
}


.quantity{
    margin-top: 2px;
    font-weight: bold;
    font-size: 0.9rem;
}

.sub-total{
    margin-top: 3px;
    font-size: 0.8rem;
    
}

.spa{
    font-weight: bold;
    font-size: 0.9rem;
}


.remove-btn{
    display: block;
    border: 1px solid brown;
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    border-radius: 5px;
    background-color:  #fbe7ca;
    margin-top: 5px;
}

.remove-btn:hover{
    background-color:  #007bff;
    /* background-color: #0056b3; */
}


.spacing-two{
    margin-top: 10px;
}


.cart-total-price{
    position: fixed;
    font-weight: bold;
    margin-left: 4px;
}

.clear-btn{
    margin-top: 40px;
    border: 1px solid brown;
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    border-radius: 5px;
    background-color:  #fbe7ca;
    margin-left: 4px;
}

.clear-btn:hover{
    background-color: rgb(245, 34, 34);
}


